.galaxy-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.galaxy-container canvas {
  width: 100%;
  height: 100%;
  display: block;
}

.galaxy-container.galaxy-transparent canvas,
.galaxy-container.galaxy-transparent {
  mix-blend-mode: screen;
}
